src/main/mule/jenkin-deployment-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="64f8d7a1-8946-4dab-9822-1d44f345eb62"
		basePath="/">
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="7f9c7bbd-a97b-413a-82bc-ba1d4734827e"
		file="jenkin-deployment-test.yaml" />
	<flow name="sample1-sapiFlow" doc:id="89179fce-bae8-4657-b553-0175c012254a">
		<http:listener doc:name="Listener" doc:id="f5806193-4afd-4807-a163-bd737e1ce095" config-ref="HTTP_Listener_config" path="/message" />
		<set-payload value="#['The application has been deployed using jenkin deployment pipeline script.']" doc:name="Set Payload" doc:id="fdcf8492-f285-4de5-868b-6eec1409ad30" mimeType="text/plain"/>
		<logger level="INFO" doc:name="Logger" doc:id="c1875fd7-2a83-43f9-ac98-8c85414c1350" message="#[payload]"/>
	</flow>
</mule>
